.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            animation: rubberBand 1s;
            color: #3EA542;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .text-animate {
        opacity: 1;
        animation: none;
    }

    .text-animate-hover:hover {
        animation: none;
    }
}

@for $i from 1 through 100 {
    .text-animate._#{$i} {
        animation-delay: #{$i*0.075}s;
    }
}