.interests-page {
    .text-zone {
        position: relative;
        width: 100%;
        max-width: 90%; /* Ensure It Takes Full Width */
        text-align: left;
        overflow: hidden; /* Prevent Overflow */
        margin: 0 auto;
        padding: 20px 0;

        h1 {
            font-size: 50px;
            font-family: 'Coolvetica';
            color: #000000;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 40px;
            position: relative;
        }
    }

    .photo-gallery {
        height: 400px; /* Set Fixed Height for Image Container */
        margin: 25px;

        .slick-list {
            padding: 0 !important; /* Remove padding to avoid overflow */
        }

        .slick-track {
            display: flex; /* Ensure items are in a row */
        }

        .photo-items {
            height: 300px; /* Set Fixed Height for Images */
            justify-content: center;
            align-items: center;
            overflow: hidden; /* Ensures Images Do Not Overflow Container */
            position: relative;
            border: 3px solid black; /* Add Border Around Images */

            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Ensures Images Cover the Area Without Stretching */
            }
        }

        .slick-dots {
            bottom: -30px; /* Adjust To Fit Within Container */
            white-space: nowrap; /* Prevent Dots from Wrapping */
            text-align: center; /* Center Dots */
            width: 100%; /* Ensure Dots Container Takes Full Width */
        }

        .slick-dots li {
            display: inline-block;
            margin: 0 3px; /* Adjust Spacing Between Dots */
        }

        .slick-dots li button:before {
            font-size: 12px; /* Adjust Size of Dots */
            color: #FFFFFF; /* Change Color of Inactive Dots */
        }

        .slick-dots li.slick-active button:before {
            color: #000000; /* Change Color of Active Dots */
        }
    }

    .game-highlights {
        display: flex;
        justify-content: space-between;
        // align-items: stretch; /* Ensure images stretch to the same height */
        // margin: 20px 0;

        flex: 1;
        margin: 0 10px;
        display: flex;
        justify-content: center;

        img {
            max-width: 33%;
            border: 2px solid #FFFFFF; /* Add white border */
        }
    }

    .tooltip {
        display: inline-block;
        text-align: center;
        font-size: 12px;
        background: #000000; /* Tooltip Background Color is Black */
        color: #0e92e5; /* Tooltip Text Color */
        margin: 2px;
        border-radius: 1px;
    }
}

@media (max-width: 770px) {
    .interests-page {
        .text-zone {
            padding: 10px;

            h1 {
                font-size: 35px;
            }
        }

        .photo-gallery {
            height: 250px;
            justify-content: center;
            align-items: center;

            .photo-items {
                height: 200px;
                border: 2px solid black;

                img {
                    height: 200px;
                    max-height: 200px; /* Set maximum height */
                }

                .slick-dots li button:before {
                    font-size: 8px; /* Adjust Size of Dots */
                    color: #FFFFFF; /* Change Color of Inactive Dots */
                }
            }
        }

        .game-highlights {
            flex-direction: column;

            .game-achievements {
                max-width: 80%;
                margin: 10px 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .interests-page {
        .text-zone {
            padding: 5px;

            h1 {
                font-size: 25px;
            }
        }

        .photo-gallery {
            height: 150px;
            justify-content: center;
            align-items: center;

            .photo-items {
                height: 125px;
                border: 1.75px solid black;

                img {
                    max-height: 125px;
                }
            }

            .slick-dots li button:before {
                font-size: 5px; /* Adjust Size of Dots */
                color: #FFFFFF; /* Change Color of Inactive Dots */
            }
        }

        .game-highlights {
            flex-direction: column;

            .game-achievements {
                max-width: 80%;
                margin: 10px 0;
            }
        }
    }
}
