.main-content {
    padding-left: 12%; /* Adjust based on the width of the sidebar */
    padding-top: 20px; /* Optional: Add some top padding if needed */
    overflow-x: hidden; /* Prevent horizontal overflow */
    position: relative; /* Ensure relative positioning */
}

.tags {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    opacity: 0.7;
}

.top-tags {
    position: absolute;
    top: 10px;
    left: 20px;
}

.bottom-tags {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.container {
    width: 100%;
    height: auto;
    min-height: 566px;
    position: relative;
    margin: 0 auto;
    will-change: contents;
    opacity: 0;
    top: 5%;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    color: #141331;
    font-family: 'Coolvetica';
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.supertitle {
    &::before {
        content: "fmt.Printf('";
        font-family: 'Cabin', sans-serif;
        font-size: 18px;
        color: #141331;
        margin-right: 10px;
        left: 15px;
        opacity: 0.6;
    }

    &::after {
        content: "')";
        font-family: 'Cabin', sans-serif;
        font-size: 18px;
        color: #141331;
        margin-left: 10px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
    }
}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 400;
}

h2 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    animation: fadeIn 1s 2.25s backwards;
}

.section-separator {
    margin-top: 100px;
}

.hr-separator {
    color: #ffffff;
    border: 1.5px solid #141331;
}

.external-links {
    text-decoration: none;
    color: #1c05c8;
}
