.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .text-zone {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 90%;
        text-align: left;
        overflow-y: auto;
        margin: 0 auto;
        padding: 20px 0;

        h1 {
            font-size: 50px;
            font-family: 'Coolvetica';
            color: #000000;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 40px;
            position: relative;
        }

        h2 {
            display: flex;
            align-items: center; /* Center image vertically within text */
            justify-content: space-between;
            width: 100%;
            font-size: 1.2em;
            line-height: 1.5em;
            margin: 1em 0;
            text-align: left; /* Align text to the left */

            .intro-text {
                flex: 1;
                text-align: left; /* Align text to the left */
            }

            .profile-img {
                width: 25;
                height: auto;
                margin-left: 20px; /* Space between text and image */
                align-self: center; /* Center image vertically */
            }
        }

        img {
            width: 30%;
            height: auto;
            opacity: 0;
            margin-left: 40px;
            border: #000000 solid;
            border-width: 1px;
            animation: fadeIn 0.5s 2.25s forwards;
            display: block;
            margin: 0 auto;
        }

        .tags {
            font-family: 'Courier New', Courier, monospace;
            color: #333;
            opacity: 0.7;
        }

        .top-tags {
            position: absolute;
            top: -30px;
            left: 0;
        }

        .bottom-tags {
            position: absolute;
            bottom: -30px;
            left: 0;
        }

        .supertitle {
            display: inline-block; /* Ensure inline-block to avoid overlap */
            margin-bottom: 20px;
        }
    }

    .stage-cube-container {
        width: 150px;
        height: 150px;
        perspective: 2000px;
        right: 20px; /* Adjust right alignment as needed */
        top: 50%;
        transform: translateY(-50%);
        margin-left: 75%;
    }

    .cubespinner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        animation: spincube 17.5s infinite ease-in-out;

        div {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid #000000;
            background: rgba(89, 150, 87, 0.4);
            text-align: center;
            font-size: 50px; /* Adjust font size for small screens */
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
        }

        .face1 { transform: translateZ(75px); }
        .face2 { transform: rotateX(-90deg) rotateY(90deg) translateZ(75px); }
        .face3 { transform: rotateY(90deg) rotateX(90deg) translateZ(75px); }
        .face4 { transform: rotateY(180deg) rotateZ(90deg) translateZ(75px); }
        .face5 { transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px); }
        .face6 { transform: rotateX(-90deg) translateZ(75px); }
    }

    @keyframes spincube {
        to { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
        16% { transform: rotateY(-90deg) rotateZ(90deg); }
        33% { transform: rotateY(-90deg) rotateX(90deg); }
        50% { transform: rotateY(-180deg) rotateZ(90deg); }
        66% { transform: rotateY(-270deg) rotateX(90deg); }
        83% { transform: rotateX(90deg); }
    }

    @media (min-width: 770px) {
        .text-zone h2 {
            font-size: 1.5em; /* Adjust to a suitable size */
            text-align: center;
            bottom: 20px;
        }
    }

    @media (max-width: 768px) {
        .text-zone {
            position: static;
            transform: none;
            width: 90%;
            margin: 0 auto;
            text-align: center;

            img {
                width: 50%;
                float: none;
                margin: 0 auto;
                display: block;
            }

            h1 {
                font-size: 1.8em;
            }

            h2 {
                font-size: 1em;
                text-align: center;
            }
        }

        .stage-cube-container {
            width: 150px;
            height: 150px;
            margin: 30px auto;
        }

        .cubespinner {
            width: 100%;
            height: 100%;

            div {
                width: 150px;
                height: 150px;
            }
        }
    }

    @media (max-width: 480px) {
        .text-zone {
            h1 {
                font-size: 1.5em;
            }

            h2 {
                font-size: 0.9em;
            }
        }

        .stage-cube-container {
            width: 80px;
            height: 80px;
            margin: 20px auto;
        }

        .cubespinner {
            div {
                width: 80px;
                height: 80px;
                font-size: 20px; /* Adjust font size for small screens */
            }
        }
    }
}
