.nav-bar {
    background: #141331;
    width: 12%;
    max-width: 120px;
    height: 100vh; /* Use full viewport height */
    position: fixed; /* Fixed position to stay in place while scrolling */
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space equally */

    .logo {
        display: block;
        padding: 10% 10%;

        img {
            display: block;
            margin: 10% 0;
            width: 95%;
            height: auto;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ensure space between nav-links and social-links */
        height: 100%; /* Full height of the container */

        .nav-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1; /* Allow to grow and take available space */

            a {
                font-size: 25px;
                color: #4d4d4e;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 75px;
                height: 75px;
                width: 100%;
                position: relative;
                text-decoration: none;

                i {
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    color: #D9FEC0;

                    svg {
                        opacity: 0;
                    }

                    &:after {
                        opacity: 1;
                    }
                }

                &:after {
                    content: '';
                    font-size: 18px;
                    letter-spacing: 2px;
                    position: absolute;
                    bottom: 0;
                    display: block;
                    height: 75px;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.3s ease-out;
                }

                &:first-child {
                    &:after {
                        content: 'Home';
                    }
                }

                &.experiences-link {
                    &:after {
                        content: 'Experiences';
                    }
                }

                &.projects-link {
                    &:after {
                        content: 'Projects';
                    }
                }

                &.interests-link {
                    &:after {
                        content: 'Interests';
                    }
                }

                &.active {
                    svg {
                        color: #3EA542;
                    }
                }
            }
        }

        .social-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 40px; /* Increased padding at the bottom */
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    padding: 8px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                    line-height: 16px;

                    &:hover svg {
                        color: #D9FEC0;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) and (orientation: landscape) {
        .logo,
        .social-links {
            display: none;
        }

        .nav-links {
            justify-content: space-around; /* Space out the links evenly */
            margin-top: 20%; /* Add some top margin */
            margin-bottom: 20%; /* Add some bottom margin */

            a {
                font-size: 22px;
                line-height: 50px;
                height: auto;

                &:after {
                    font-size: 16px;
                }
            }

            a.experiences-link::after {
                content: 'Work';
            }
        }
    }

    @media (max-width: 768px) {
        width: 15%;
        max-width: none;

        .nav-links {
            a {
                font-size: 20px;

                &:after {
                    font-size: 14px;
                }
            }

            a.experiences-link::after {
                content: 'Work';
            }
        }

        .social-links li a {
            font-size: 20px;
        }
    }

    @media (max-width: 480px) {
        width: 20%;
        max-width: none;

        .nav-links {
            a {
                font-size: 18px;

                &:after {
                    font-size: 12px;
                }
            }

            a.experiences-link::after {
                content: 'Work';
            }
        }

        .social-links li a {
            font-size: 18px;
        }
    }

    @media (orientation: landscape) and (max-height: 480px) {
        width: 15%;
        max-width: 60px;

        .nav-links {
            a {
                font-size: 16px;

                &:after {
                    font-size: 10px;
                }
            }

            a.experiences-link::after {
                content: 'Work';
            }
        }

        .social-links li a {
            font-size: 16px;
        }
    }
}
