.nav-bar {
    background: #141331;
    width: 12%;
    max-width: 120px;
    height: 100vh; /* Use full viewport height */
    position: fixed; /* Fixed position to stay in place while scrolling */
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space equally */

    .logo {
        display: block;
        padding: 10% 10%;

        img {
            display: block;
            margin: 10% 0;
            width: 95%;
            height: auto;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between; /* Ensure space between nav-links and social-links */
        height: 100%; /* Full height of the container */
        top: 50%;
        transform: translateY(-40%);
        width: 100%;

        a {
            font-size: 25px;
            color: #4d4d4e;
            display: block;
            line-height: 50px;
            height: 75px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #D9FEC0;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 18px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                height: 75px;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &:after {
                    content: 'Home';
                }
            }
        }

        a.experiences-link {
            &:after {
                content: 'Experiences';
            }
        }

        a.projects-link {
            &:after {
                content: 'Projects';
            }
        }

        a.interests-link {
            &:after {
                content: 'Interests';
            }
        }

        a.active {
            svg {
                color: #3EA542;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
        text-align: center;
        margin-bottom: 10px;

        li {
            a {
                padding: 8px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                line-height: 16px;

                &:hover svg {
                    color: #D9FEC0;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .nav-bar {
        width: 10%;
        max-width: 80px;

        nav {
            a {
                font-size: 22px;

                &:after {
                    font-size: 16px;
                }
            }

            a.experiences-link {
                &:after {
                    content: 'Work';
                }
            }

            a.projects-link {
                &:after {
                    content: 'Projects';
                }
            }

            a.interests-link {
                &:after {
                    content: 'Interests';
                }
            }
        }

        ul {
            margin-bottom: 5px;
            li a {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 768px) {
    .nav-bar {
        width: 15%;
        max-width: none;

        nav {
            a {
                font-size: 20px;

                &:after {
                    font-size: 14px;
                }
            }

            a.experiences-link {
                &:after {
                    content: 'Work';
                }
            }

            a.projects-link {
                &:after {
                    content: 'Projects';
                }
            }

            a.interests-link {
                &:after {
                    content: 'Interests';
                }
            }
        }

        ul li a {
            font-size: 20px;
        }
    }
}

@media (max-width: 480px) {
    .nav-bar {
        width: 20%;
        max-width: none;

        nav {
            a {
                font-size: 18px;

                &:after {
                    font-size: 12px;
                }
            }

            a.experiences-link {
                &:after {
                    content: 'Work';
                }
            }

            a.projects-link {
                &:after {
                    content: 'Projects';
                }
            }

            a.interests-link {
                &:after {
                    content: 'Interests';
                }
            }
        }

        ul {
            margin-bottom: 5px;
            li a {
                font-size: 18px;
            }
        }
    }
}

@media (orientation: landscape) and (max-height: 480px) {
    .nav-bar {
        width: 15%;
        max-width: 60px;

        nav {
            a {
                font-size: 16px;

                &:after {
                    font-size: 10px;
                }
            }

            a.experiences-link {
                &:after {
                    content: 'Work';
                }
            }

            a.projects-link {
                &:after {
                    content: 'Projects';
                }
            }

            a.interests-link {
                &:after {
                    content: 'Interests';
                }
            }
        }

        ul {
            margin-bottom: 5px;
            li a {
                font-size: 16px;
            }
        }
    }
}