.nav-bar {
    background: #141331;
    width: 12%;
    max-width: 120px;
    height: 100vh; /* Use full viewport height */
    position: fixed; /* Fixed position to stay in place while scrolling */
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space equally */
    padding-bottom: 20px; /* Add padding to the bottom */

    .logo {
        display: block;
        padding: 10% 10%;

        img {
            display: block;
            margin: 10% 0;
            width: 95%;
            height: auto;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ensure space between nav-links and social-links */
        height: 100%; /* Full height of the container */

        .nav-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1; /* Allow to Grow and Take Available Space */
        }

        .social-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    padding: 8px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    line-height: 16px;

                    &:hover svg {
                        color: #D9FEC0;
                    }
                }
            }
        }
    }

    nav {
        a {
            font-size: 25px;
            color: #4d4d4e;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 75px;
            height: 75px;
            width: 100%;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #D9FEC0;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 18px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                height: 75px;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &:after {
                    content: 'Home';
                }
            }
        }

        a.experiences-link {
            &:after {
                content: 'Experiences';
            }
        }

        a.projects-link {
            &:after {
                content: 'Projects';
            }
        }

        a.interests-link {
            &:after {
                content: 'Interests';
            }
        }

        a.active {
            svg {
                color: #3EA542;
            }
        }
    }
}

@media (max-width: 768px) {
    .nav-bar {
        width: 15%;
        max-width: none;
        padding-bottom: 30px; /* Additional padding for mobile */

        nav {
            a {
                font-size: 20px;

                &:after {
                    font-size: 14px;
                }
            }

            a.experiences-link {
                &:after {
                    content: 'Work';
                }
            }
        }

        .social-links li a {
            padding: 4px 0; // Adjust spacing for mobile
            font-size: 18px;
        }
    }
}

@media (max-width: 480px) {
    .nav-bar {
        width: 20%;
        max-width: none;
        padding-bottom: 30px; /* Additional padding for smaller screens */

        nav {
            a {
                font-size: 18px;

                &:after {
                    font-size: 12px;
                }
            }

            a.experiences-link {
                &:after {
                    content: 'Work';
                }
            }
        }

        .social-links li a {
            padding: 2px 0; // Adjust spacing for smaller screens
            font-size: 16px;
        }
    }
}

@media (orientation: landscape) and (max-height: 480px) {
    .nav-bar {
        width: 15%;
        max-width: 60px;
        padding-bottom: 30px; /* Additional padding for landscape mode */

        nav {
            a {
                font-size: 16px;

                &:after {
                    font-size: 10px;
                }
            }

            a.experiences-link {
                &:after {
                    content: 'Work';
                }
            }
        }

        .social-links li a {
            padding: 2px 0; // Adjust spacing for landscape mode
            font-size: 16px;
        }
    }
}
